/* HTML5 display-role reset for older browsers */
main, article, aside, footer, header, nav, section { display: block; }

time { display: inline; }

/* Init */
html, body { height: 100%; width: 100%; }

html {
    font: normal 10px 'Segoe UI', 'Droid Sans', 'Lucida Grande', Helvetica, Arial, sans-serif;
    line-height: 1.25; color: #333; 
}

body { position: relative; margin: 0; padding: 0;}

p, li, a, td { font-size: 1.5em ; }

li li, li p, li a, li label, 
p a, 
label a, 
a p { font-size: 1em; }

li h3 { font-size: 1.2em; }

a { text-decoration: none; }

button { cursor: pointer; border: 0 none; background: none; outline: none; }
    button:disabled { cursor: default; }    

/* tables
----------------------------------------------------------*/
table { border-collapse: collapse; border-spacing: 0; border: 0; font: inherit;  margin: 0; vertical-align: baseline; } 

th { font-size: 1.6em; border: 0 none; padding-left: 0; }

td input[type="text"], 
td input[type="email"], 
td input[type="password"], 
td input[type="date"], 
td textarea { font-size: 1em; }

.left { float: left; }

.right { float: right; }

.clear-fix:after { content: "."; clear: both; display: block; height: 0; visibility: hidden; }

.noselect { -webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;  }

/* Fonts */
.font-tiny { font: normal 11px Verdana, Geneva, Tahoma, Arial, Helvetica, sans-serif; }

.font-ui { font-family: 'Segoe UI', 'Droid Sans', 'Lucida Grande', Helvetica, Arial, sans-serif; }

.font-serif { font-family: Century, Georgia, Garamond, Constantia, 'Times New Roman', serif; }

.title { display: block; font-size: 1.2em; font-weight: 600; }

/* links */
.link, .link--nav { color: #005eff; } 
    .link:hover { color: #004fd7; }
    .link:visited { color: #5687da; }

/* buttons */
.btn {
    text-align: center;
    box-sizing: border-box;
    border: 0 none;
    font: 600 1.6em 'Segoe UI', 'Droid Sans', Ubuntu, 'Lucida Grande', Helvetica, Arial, sans-serif;
}
    .btn:active { 
        -webkit-transition: 0.2s; transition: 0.2s; 
        -webkit-transform: scale(0.96); -ms-transform: scale(0.96); transform: scale(0.98); 
        box-shadow: none; 
    }

/* Pseudo class */
.label { font-weight: 600; }

.bare { margin: 0; padding: 0; }

.bare-list { margin: 0; padding-left: 0; list-style: none; }

.hidden {
    display: none!important;
}

* {
    box-sizing: border-box;
}
