[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
motor = "*"
beanie = "*"
pydantic-settings = "*"
email-validator = "*"
pymongo = "*"
python-decouple = "*"
passlib = "*"
python-jose = "*"
python-multipart = "*"
bcrypt = "*"
faker = "*"
tqdm = "*"
pytest = "*"
httpx = "*"
bump-pydantic = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.6"
