[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
beanie = "*"
motor = "*"
pymongo = "*"
pydantic-settings = "*"
email-validator = "*"
python-decouple = "*"
passlib = "*"
python-jose = "*"
python-multipart = "*"
bcrypt = "==4.3.0"
faker = "*"
tqdm = "*"
pytest = "*"
httpx = "*"
fastapi-mail = "*"
apscheduler = "*"
isort = "*"
black = "*"
fastapi-pagination = "*"
python-slugify = "*"
sendgrid = "*"

[dev-packages]

[requires]
python_version = "3.11"
