[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
motor = "==3.1.2"
beanie = "==1.19.2"
pydantic-settings = "*"
email-validator = "*"
pymongo = "==4.3.3"
python-decouple = "*"
passlib = "*"
python-jose = "*"
python-multipart = "*"
bcrypt = "*"
faker = "*"
tqdm = "*"
pytest = "*"
httpx = "*"
fastapi-mail = "*"
apscheduler = "*"
sendgrid = "*"

[dev-packages]

[requires]
python_version = "3.11"
