fastapi
uvicorn
motor==3.3.2
beanie==1.19.2
pydantic_settings
email-validator
pymongo==4.6.1
python-decouple
passlib
python-jose
python-multipart
bcrypt==4.3.0
faker
tqdm
pytest
httpx
fastapi-mail
apscheduler
isort
black
fastapi-pagination
python-slugify
sendgrid