fastapi
uvicorn
motor==3.3.2
beanie
fastapi-pagination
pymongo
pydantic_settings
email-validator
python-decouple
passlib
python-jose
python-multipart
bcrypt==4.3.0
faker
tqdm
pytest
httpx
fastapi-mail
apscheduler
isort
black
python-slugify
sendgrid