fastapi
uvicorn
motor==3.4.0
pymongo==4.8.0
beanie
fastapi-pagination
pydantic_settings
email-validator
python-decouple
passlib
python-jose
python-multipart
bcrypt==4.3.0
faker
tqdm
pytest
httpx
fastapi-mail
apscheduler
isort
black
python-slugify
sendgrid