/* .image-1{
    width: 100%;
} */


#image-caf {
    position: relative; /* Cela permettra de positionner #titre et #resaux par rapport à #image-caf */
    width: 100%;
}
#image-caf img{
    width: 100%;
}

#titre h1 {
    font-size: 2vw;
    border-radius: 15px;
    padding: 5px 10px; /* Ajoute un peu d'espace autour du texte */
    background-color: rgba(255, 255, 255, 0.5); /* Couleur de fond semi-transparente */
    display: inline; /* Fait en sorte que l'arrière-plan ne s'étende que sur le texte */
}

#titre {
    position: absolute;
    bottom: 1px;
    left: 2px;
}

#resaux {
    position: absolute;
    bottom: 1px;
    right: 1px;
    display: flex;
    background-color: rgba(255, 255, 255, 0.5); /* Couleur de fond semi-transparente */
    border-radius: 5px; /* Arrondit les coins du conteneur d'arrière-plan */
    padding: 5px 10px;
}

#resaux img {
    width: 25px; /* Largeur de l'image */
    margin-right: 15px;
}

.icon img {
    width: 20px;  /* Ou la taille que vous souhaitez */
    display: inline;
}

#comptant img{
    margin-left: 20px;
}

.status {
    position:absolute;
    right: 1px;
}

/*code du menu Pop up*/

/* :root {
  font-family: Inter, system-ui, "Segoe UI", Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

.Menu1 {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  width: 100%;
  min-height: 100vh;
}

#app {
  text-align: center;
  width: 100%;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  place-items: center;
  padding: 12px 2% 24px;
}

.menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 100%;
  max-width: 1000px;
  gap: 1rem;
  padding: 12px;
  border: 2px solid #d5d5d5;
  border-radius: 12px;
  transition: 0.2s;
}

.group-box[data-index="0"].active {
  grid-column-start: span 2;
  grid-row-start: span 2;
}

.group-box[data-index="1"].active {
  grid-column-start: span 2;
  grid-row-start: span 2;
}

.group-box[data-index="2"].active {
  grid-column-start: span 2;
  grid-row-start: span 2;
}

.group-box[data-index="3"].active {
  grid-column-start: span 2;
  grid-row-start: span 2;
}

.group-box {
  display: flex;
  overflow: auto;
  flex-direction: column;
  padding: 12px;
  border-radius: 4px;
  background-color: #e5e4e2;
  max-height: 400px;
}

.group-box.active {
  color: #fff;
  background-color: #232425;
}

.group-box.active .group-item {
  width: 60px;
  height: 60px;
}

.group-box-items {
  display: flex;
  flex-wrap: wrap;
}

.group-item {
  display: block;
  width: 30px;
  height: 30px;
  margin: 6px;
  border-radius: 2px;
  background-color: #646cff;
  transition: 0.2s;
}

@media screen and (min-width: 48em) {
  .group-item {
    display: block;
    width: 60px;
    height: 60px;
    margin: 12px;
  }

  .group-box.active .group-item {
    width: 120px;
    height: 120px;
  }
} */

.MenuTab{
  display: flex;
 justify-content: space-between; 
  margin-top: 60px;
  /* background-color: blue; */
  
}

:root {
  font-family: Inter, system-ui, "Segoe UI", Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

/* * {
  box-sizing: border-box;
} */

.Menu1 {
  margin-top: 0px;
  /* display: flex;
  place-items: center; */
  min-width: 320px;
  width: 100%;
  /* min-height: 100vh; */
  /* background-color: orange; */
}

#app {
  text-align: center;
  width: 100%;
}

/* .content-wrapper {
  display: flex;
  flex-direction: column;
  place-items: center;
  padding: 12px 2% 24px;
} */

.menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 100%;
  max-width: 700px;
  /* height: 100%;
  max-height: 450px; */
  gap: 1rem;
  padding: 12px;
  border: 2px solid #d5d5d5;
  border-radius: 12px;
  transition: 0.2s;
}

.group-box[data-index="0"].active {
  grid-column-start: span 2;
  grid-row-start: span 2;
}

.group-box[data-index="1"].active {
  grid-column-start: span 2;
  grid-row-start: span 2;
}

.group-box[data-index="2"].active {
  grid-column-start: span 2;
  grid-row-start: span 2;
}

.group-box[data-index="3"].active {
  grid-column-start: span 2;  
  grid-row-start: span 2;
}

.group-box {
  display: flex;
  overflow: auto;
  flex-direction: column;
  padding: 12px;
  border-radius: 4px;
  background-color: #e5e4e2;
  min-height: 200px;
}

.group-box.active {
  color: #fff;
  background-color: #232425;

}

.group-box.active .group-item {
  width: 60px;
  height: 60px;
}

.group-box-items {
  display: flex;
  flex-wrap: wrap;
}

.group-item {
  display: block;
  width: 35px;
  height: 35px;
  margin: 6px;
  border-radius: 2px;
  background-color: #646cff;
  transition: 0.2s;
}
 /* Empechait de modifier la taille pour une certaine raison*/
/* @media screen and (min-width: 48em) {
  .group-item {
    display: block;
    width: 60px;
    height: 60px;
    margin: 12px;
  }

  .group-box.active .group-item {
    width: 120px;
    height: 120px;
  }
} */

/* evenement et publications */

/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */

/* body {
  height: 100vh;
  background: linear-gradient(90deg, #8711c1 20%, #2472fc);
} */

.tabs{
  /* background-color: purple; */
  min-height: 90vh;
}

.container {
  width: 60%;
}

.tabs-control a {
  position: relative;
  font-size: 18px;
  font-weight: 600;
}

.tabs-control a.active::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 30px;
  background-color: #2472fc;
}

.tabs-content {
  background-color: #fff;
  padding: 25px;
}

.tabs-content .box {
  display: none;
}

.tabs-content .box h2 {
  margin-bottom: 20px;
}

@media screen and (max-width: 1330px) {
  .container {
    width: 100%;
  }
}

@media screen and (max-width: 970px) {
  .container {
    padding: 30px 10px !important;
  }

  .tabs-control a {
    padding: 13px !important;
  }
}


/* publication*/

/* .big {
  background-image: radial-gradient(var(--thirdary), var(--main));
  align-content: center;
  justify-content: center;
  align-items: center;
  position: alternate;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  position: fixed;
} */

#tab1{
  max-height: 380px;
  overflow-y: auto;
  /* background-color: blue; */
}

.pubcontainer {
  padding: 1em;
  margin-bottom: 1rem;
  /* height: 250px; 
  width: 500px; */
  border-radius: 10px;
  background-color: grey;
  /* box-shadow: 5px 5px 0px 5px var(--darktwo); */
  /* position: relative; */
}

#user {
  font-size: 20px;
}

#txt{
  font-family: Inconsolata;
  color: var(--darktwo);
  font-size: 20px;
}

#header {
  font-family: Josefin Sans;
}

.btn{
  float: right;
  font-family: Material Icons;
  color: black;
  cursor: pointer;
  font-size: 30px;
  color: var(--darkone);
}

button {
  text-decoration: none;
  border: none;
  background-color: rgba(0,0,0,0);
}

div.buttons {
  padding: 1.5em;
  bottom: 0;
  right: 0;
  position: absolute;
}

@keyframes pop {
  0%{
    transform: scale(100%);
  }
  50%{
    transform: scale(125%);
  }
  100%{
    transform: scale(100%);
  }
}

.material-symbols-outlined img{
  width: 40px;
  transform: scale(140%);
}

#cmtModal {
  bottom: 0;
  padding: 1.5em;
  position: fixed;
  display: none;
  z-index: 1;
  background-color: white;
  height: 30%;
  width: 500px;
  background-color: whitesmoke;
  box-shadow: 5px 5px 0px 5px var(--darktwo);
}

.close {
  color: black;
  float: right;
  font-size: 20px;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 10px;
  cursor: pointer;
}

.close:hover {
 transition: 0.5s;
 color: darkgray;
}

.txtinput {
  width: 100%;
  border-color: #262626;
  border-width: 2px;
  border-radius: 10px;
  padding: 1em;
  color: black;
  font-family: Source Code Pro;
  box-sizing: border-box;
  height: 80%;
  resize: none;
  outline: none;
}

#txtarea {
  border-radius: #262626;
  width: 100%;
  height: 100%;
}

#cmtHeader {
  font-size: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: Josefin Sans;
}

@keyframes totop {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@keyframes tobottom {
  from {bottom: 0px; opacity: 1}
  to {bottom: -300px; opacity: 0}
}

#particle {
	position: absolute;
	outline-style: solid;
	background-color: white;
	padding: 7px;
	border-radius: 100%;
}

@keyframes blow {
	from {
		transform: translatey(0);
	}
	to {
		transform: translatey(100px);
		opacity: 0;
	}
}


/* Evenements */
/* * {
  font-family: sans-serif;
} */

/* body {
  height: 700px;
  background-color: #e4e4e4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

#tab2 {
  overflow-y: auto;
  /* background-color: red; */
  max-height: 380px;
  min-width: 530px;  
}

h4 {
  font-family: sans-serif;
  color: #555;
}

.photo-container {
  font-size: 1.5em;
  background-color: #2c3e52;
  color: white;
  /* padding: 0px; */
  text-align: center;
  grid-area: photo;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
}
.card-container {
  margin-bottom: 1rem;
  display: grid;
  grid-template-areas: 
    'photo info';
  grid-template-columns: 150px 1fr;
  width:100%;
  max-width: 500px; 
  background-color:pink;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  line-height: 1.95em;
  box-sizing: border-box;  
}

.info-container {
  padding: 1em;
  grid-area: info;
}
.event-name {
  font-weight: bold;
  padding-bottom: 5px;
}
.event-location {
  font-size: 15px;
  font-weight: 300;
}
.day {
  font-weight: 300;
}
.month {
  font-weight: 600;
}
.hour{
  font-size:15px;
  font-weight: 200;
}
@media( max-width: 600px ) {
  .card-container {
    width: 90%;
  }
}


/* Team Member CSS 
===========================*/

h2.team-h1 {
  margin: 0;
  position: absolute;
  top: -16px;
  text-align: center;
  left: 40%;
  font-family: georgia;
  font-style: italic;
  background-color: white;
  padding: 0px 20px;
  color: #222; 
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    zoom: 1;
}

.team-container {
  width: 500px;
  margin: auto;
  display: flex;        /* Utilisez Flexbox pour le conteneur */
  justify-content: center; /* Centre horizontalement les éléments enfants */
  align-items: center;     /* Centre verticalement les éléments enfants si nécessaire */
  flex-wrap: wrap;
  border-top: 1px #e9e9e9 solid;
  border-bottom: 1px #e9e9e9 solid;
  padding-top: 5em;
  padding-bottom: 5em;
  margin-top: 3em;
  position: relative;
}

.team-member {
  width: 20%;
  flex: 0 0 auto;       /* Les éléments enfants ne grandissent pas, ne rétrécissent pas et sont basés sur leur largeur automatique */
  margin: 0 1em;        /* Ajoutez un peu d'espace autour de chaque membre de l'équipe */
  text-align: center;
  /* float: left; */
  /* text-align: center;
  margin-right: 15%; */
}

/* .team-member:last-child {margin-right: 0;} */


.team-member span,
.team-member h3 {
  max-width: 200px;
  font-family: sans-serif;
  letter-spacing: -1px;
}

.team-member h3 {
  color: #1CA3A3;
}

.email {
  color: #EA2678;
  
}

.team-member span {
  display: block;
 
}
.team-photo {
  border-radius: 50%;
  text-align: center;
  margin: auto;
  max-width: 100%;
  height: auto;
  transition: 0.1s transform ease-in-out;
}


.team-photo:hover {
  transform: scale(0.9);
  cursor: pointer;
}


/* code for phone layout */
@media (max-width:850px){
  .team-member {
    width:25%;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 40px;
    
  }
  
}



@media (max-width:650px){
  .team-member {
    float: none;
    display: block;
    margin: 50px auto;
    width: 100%;
    text-align: center;
  }
  
  .team-member h3,
  .team-member span {
    margin: 15px auto;
  }
}


/* ENDS Team Member CSS 
===========================*/


/* Chatbox */

/* * {box-sizing: border-box;}

body {background:#212223;font-family: Roboto;color:#efdefe;}
h3{line-height:0rem;} */




/* Button used to open the chat form - fixed at the bottom of the page */
/* .open-button {
  padding:10px 40px;
  background-color: #04AA6D;
  color: white;
  font-size:17px;
  max-width:300px;
  border-radius:20px;
  border: none;
  cursor: pointer;
  position: fixed;
  bottom: 23px;
  right: 28px;  
} */

/* The popup chat - hidden by default */
/* .chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  z-index: 9;
 
} */

/* Add styles to the form container */
/* .form-container {
  max-width: 300px;
  padding: 10px;
  border-radius:20px;
  background-color: white;
  color:#777;
} */

/* Full-width textarea */
/* .form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  border-radius:20px;
  background: #ddd;
  resize: none;
  min-height: 200px;
  color:#777;
} */

/* When the textarea gets focus, do something */
/* .form-container textarea:focus {
  background-color: #ddd;
  outline: none;
} */

/* Set a style for the submit/send button */
/* .form-container .btn {
  background-color: #04AA6D;
  color: white;
   font-size:17px;
  padding: 10px 20px;
  border: none;
  border-radius:20px;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
} */

/* Add a red background color to the cancel button */
/* .form-container .cancel {
  background-color: #1974D2;
} */

/* Add some hover effects to buttons */
/* .form-container .btn:hover, .open-button:hover {
opacity: 0.8;
} */


/* mail-contactez-nous */

.md-modal {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 50%;
	max-width: 400px;
	min-width: 200px;
	height: auto;
	z-index: 2000;
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.md-show {
	visibility: visible;
}

.md-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index: 1000;
	opacity: 0;
	background: rgba(40,43,49,.8);
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.md-show ~ .md-overlay {
	opacity: 1;
	visibility: visible;
}

/* Content styles */
.md-content {
	color: #333;
	background: #fff;
  border-radius: 10px;
}

/* Effect 1: Fade in and scale up */
.md-effect-1 .md-content {
	-webkit-transform: scale(0.7);
	-ms-transform: scale(0.7);
	transform: scale(0.7);
	opacity: 0;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.md-show.md-effect-1 .md-content {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

#md-close{
  background-color: #1CA3A3;
  border-radius: 10px;
  
}

