---
import '../styles/normalize.css'
import '../styles/base.css'

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
		<footer>			
			<div>
				<img height="40" src={`logo_text.png`} alt="Logo de café sans-fil" />
			</div>
		</footer>
	</body>
</html>
<style is:global>
	:root {
		--accent: 48, 110, 191;
		--accent-light: 48, 152, 242;
		--accent-dark: 44, 94, 180;
		--accent-red: 186, 34, 73;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}

	footer {
		display: flex; flex-direction: column; 
		align-items: center;
		padding: 30px 5vw;
		background-color: #f2f1f0;
	}
</style>
